#m #middle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#dlc-search {
	BORDER-RIGHT: #c0c5c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c0c5c9 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/dlc-search-bknd.gif) #eceff2 no-repeat left top; PADDING-BOTTOM: 15px; MARGIN: 5px 0px; BORDER-LEFT: #c0c5c9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c0c5c9 1px solid
}
.dlc-form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px
}
.dlc-dropdown {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 190px; PADDING-TOP: 0px
}
.dlc-btn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 10px; PADDING-TOP: 0px
}
.htabs {
	Z-INDEX: 1000; LEFT: 5px; MARGIN: 5px 0px 0px; WIDTH: 200px; POSITION: absolute; TOP: 340px
}
H3.htab-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A.tab-link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; COLOR: #448; PADDING-TOP: 12px; TEXT-DECORATION: none
}
A.tab-link:visited {
	COLOR: #448; TEXT-DECORATION: none
}
A.tab-link:hover {
	COLOR: #448; TEXT-DECORATION: underline
}
.hilitetab {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; Z-INDEX: 1000; BACKGROUND: url(../images/tab-ptr.gif) no-repeat 100% 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.hilitetab H3.htab-title {
	BORDER-RIGHT: #d2dce1 0px solid; BORDER-TOP: #d2dce1 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #d2dce1 1px solid; COLOR: white; BORDER-BOTTOM: #d2dce1 1px solid; BACKGROUND-COLOR: #0768a9
}
.hilitetab A.tab-link:hover {
	COLOR: white; TEXT-DECORATION: none
}
.hilitetab A.tab-link:visited {
	COLOR: white; TEXT-DECORATION: none
}
.hilitetab A.tab-link {
	COLOR: white; TEXT-DECORATION: none
}
.hilitetab A.tab-link {
	MARGIN-LEFT: -3px
}
#htabs-wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e6eff3
}
.htab-wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 191px; PADDING-TOP: 0px
}
.htab-wrap H4 {
	MARGIN: 15px 0px 0px
}
.htab-body {
	BORDER-RIGHT: #d2dce1 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #d2dce1 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; MARGIN: 0px; BORDER-LEFT: #d2dce1 1px solid; WIDTH: 505px; PADDING-TOP: 0px; BORDER-BOTTOM: #d2dce1 1px solid; BACKGROUND-COLOR: white
}
#device {
	DISPLAY: none
}
#other {
	DISPLAY: none
}
#embedded {
	DISPLAY: none
}
.short-desc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 5px; PADDING-TOP: 0px
}
.delimiter {
	COLOR: #ccc
}
.tagline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #888; PADDING-TOP: 5px
}
.dlcdetails {
	WIDTH: 98%
}
.dlcdetials TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.dlcdetails TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
.dlcdetails TD.label {
	MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 25%; COLOR: #999
}
.dlcdetails TD.text {
	MARGIN: 0px; WIDTH: 80%
}
.dlcdetails TD.text DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.dlcdetails TD.text SPAN.delimiter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.dlcdetails TD.text A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; PADDING-TOP: 0px
}
#doc-search {
	BORDER-RIGHT: #c0c5c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c0c5c9 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(../images/dlc-search-bknd.gif) #eceff2 no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #c0c5c9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c0c5c9 1px solid
}
#doc-search H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 15px 15px 15px 10px; PADDING-TOP: 0px
}
#doc-search FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 12px 0px 15px; PADDING-TOP: 0px
}
#doc-search INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; PADDING-TOP: 0px
}
#doc-search .doc-btn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px
}
.htabsdoc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; PADDING-BOTTOM: 0px; MARGIN: -48px 0px 0px -8px; WIDTH: 742px; PADDING-TOP: 0px; POSITION: absolute
}
.htabsdoc #tab0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.htabsdoc #tab1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.htabsdoc #tab2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.htabsdoc #tab3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.htabsdoc #tab4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.htabsdoc #tab5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 115px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
H3.htabdoc-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.htabsdoc A.tab-link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 12px; MARGIN: -3px 0px 0px; COLOR: #fff; PADDING-TOP: 12px; TEXT-DECORATION: none
}
.htabsdoc A.tab-link:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.htabsdoc A.tab-link:hover {
	DISPLAY: block;
	BACKGROUND: url(../images/tab_active_blue.gif) no-repeat 0px 3px;
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.htabsdoc .inactive {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 0px;
	Z-INDEX: 1000;
	BACKGROUND: url(tab_inactive_blue.gif) no-repeat 0px 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
.htabsdoc .hilitetab {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 0px;
	Z-INDEX: 1000;
	BACKGROUND: url(tab_active_blue.gif) no-repeat 0px 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
.hilitetab H3.htabdoc-title {
	FONT-WEIGHT: bold
}
#htabsdoc-wrap {
	BORDER-RIGHT: #e6eff3 8px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e6eff3 20px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 20px; BORDER-LEFT: #e6eff3 8px solid; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #e6eff3 8px solid
}
.htabdoc-wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
.htabdoc-wrap H3 {
	MARGIN: 15px 0px 10px
}
.htabdoc-wrap H4 {
	MARGIN: 15px 0px 7px
}
.htabdoc-body {
	BORDER-RIGHT: #d2dce1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2dce1 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 0px; BORDER-LEFT: #d2dce1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d2dce1 1px solid; BACKGROUND-COLOR: #fff
}
.bltbot-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.doc-infotree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
UL.trees {
	PADDING-RIGHT: 0px; LIST-STYLE: square url(../images/dotted-arm.gif) outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 0px 30px; PADDING-TOP: 0px
}
UL.plain LI {
	PADDING-RIGHT: 0px; LIST-STYLE: none none outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px -30px; PADDING-TOP: 0px
}
UL.trees-l {
	PADDING-RIGHT: 0px; LIST-STYLE: square url(../images/dotted-arm.gif) outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 0px 30px; WIDTH: 45%; PADDING-TOP: 0px
}
UL.trees-r {
	PADDING-RIGHT: 0px; LIST-STYLE: square url(../images/dotted-arm.gif) outside; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 0px
}
UL.l {
	PADDING-RIGHT: 0px; LIST-STYLE: square url(../images/home_arrowV2005.gif) outside; PADDING-LEFT: 20px; PADDING-BOTTOM: 8px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 0px
}
UL.r {
	PADDING-RIGHT: 0px; LIST-STYLE: square url(../images/home_arrowV2005.gif) outside; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 0px
}
UL.plain {
	PADDING-RIGHT: 0px; LIST-STYLE: square none outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 0px 30px; PADDING-TOP: 0px
}
.doc-toggleinfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.doc-toggleinfo A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.doc-files {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
.doc-info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
.doc2-info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.doc2-info A {
	TEXT-DECORATION: none
}
.doc2-info A:hover {
	TEXT-DECORATION: underline
}
.doc-files A {
	TEXT-DECORATION: underline
}
.plus-minus {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.plus-minus IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.hide-show {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
.hide-show P {
	MARGIN: 10px 0px 10px 20px
}
#searchans-wrap {
	BORDER-RIGHT: #c4c4cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c4c4cc 1px solid; PADDING-LEFT: 15px; BACKGROUND: url(../images/dlc-search-bknd.gif) #eceff2 no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; BORDER-LEFT: #c4c4cc 1px solid; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #c4c4cc 1px solid; HEIGHT: 100px
}
#searchans-wrap LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
.searchans-form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; WIDTH: 250px; PADDING-TOP: 0px
}
.left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px
}
.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px
}
.full {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: red 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: red 1px solid; WIDTH: 98%; PADDING-TOP: 0px; BORDER-BOTTOM: red 1px solid
}
.sm-italic-gr {
	FONT-SIZE: 92%; COLOR: #646464; FONT-STYLE: italic
}
#answers-wrap {
	BORDER-RIGHT: #eaeaea 8px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eaeaea 8px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; BORDER-LEFT: #eaeaea 8px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eaeaea 8px solid
}
#answers-wrap .l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 32%; PADDING-TOP: 0px
}
#answers-wrap .m {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 32%; PADDING-TOP: 0px
}
#answers-wrap .r {
	CLEAR: right; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 32%; PADDING-TOP: 0px
}
