#right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 0px; WIDTH: 24%; PADDING-TOP: 0px
}
#cta {
	PADDING-RIGHT: 0px; BORDER-TOP: #810017 2px solid; PADDING-LEFT: 5px; BACKGROUND: url(../images/bkgd_featured.gif); PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; BORDER-BOTTOM: #810017 1px solid
}
#cta A {
	TEXT-DECORATION: none
}
#cta P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 0.95em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7f7f7f; PADDING-TOP: 0px; FONT-STYLE: italic
}
.webcast {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_webcast.gif) no-repeat 0px 4px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.cd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_cd.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.cart {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_cart.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.pencil {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_register.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.phone {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_contact.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.downarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_download.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../images/i_list.gif) no-repeat 0px 5px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 0px
}
.nav A {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; COLOR: #810017; PADDING-TOP: 0px; BORDER-BOTTOM: #810017 2px solid
}
.link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/home_arrowV2005.gif) no-repeat 0px 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 158px; PADDING-TOP: 2px
}
.pdf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/pdfmid.gif) no-repeat 0px 1px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 158px; PADDING-TOP: 2px
}
.text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px 20px; WIDTH: 158px; PADDING-TOP: 0px
}
